# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
.venv/
.env/

# PyCharm, VSCode
.idea/
.vscode/

# MacOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Output folders
runs/
models/
tests/

# Git
.git/
